.text-description h1 {
  text-align: center;
}

.input-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-description {
  padding: 15px 10px;
  border-radius: 15px;
  outline: none;
  width: 20%;
}

#description {
  font-size: 20px;
  text-indent: 50px;
  margin: 3% 15%;
}

#title {
  padding: 50px;
  text-align: center;
  font-size: xxx-large;
}

#btn-cancel {
  background-color: rgb(202, 16, 16);
  color: white;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 50px;
}

#btn-ok {
  background-color: rgb(33, 186, 69);
  color: white;
  padding: 10px 10px;
  border-radius: 50px;
}

.todo-app {
  display: flex;
  flex-direction: column;
  width: 520px;
  min-height: 350px;
  background: #060b26;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 32px;
  padding-top: 32px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 0 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #0660a7;
  outline: none;
  width: 150px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient( 90deg, rgb(6, 96, 167) 0%, rgb(6, 96, 167) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient( 90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.green-1 {
  background-color: rgb(33, 186, 69);
}

.red-1 {
  background-color: rgb(238, 49, 49);
}

.green-2 {
  background-color: rgb(49, 128, 53);
}

.red-2 {
  background-color: rgb(177, 16, 16);
}

.yellow {
  background-color: rgb(216, 208, 26);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}